html {
    position: relative;
    min-height: 100%;
    height: 100%;
}

.site-title {
    font-size: 20px;
    font-family: monospace;
}

body {
    height: 100%;
    padding-bottom: 30px; /*#2E2B2B*/
    font-family: monospace;
    background: #282626;
}

.navigation {
    background: #282626;
}

.login-panel {
    font-family: monospace;
    display: flex;
}

.login-panel-btn {
    border: 1px solid #2A84F2;
    border-radius: 10px;
}
