@model Discussor.Core.Application.Replies.Commands.UpdateReply.UpdateReplyCommand


<div class="container text-light">
    <h1>Edit reply</h1>

    <form method="post">
        <div asp-validation-summary="ModelOnly"></div>
        <div class="form-group">
            @*<label asp-for="Content"></label><br />*@
            <textarea rows="7" asp-for="Content" class="form-control"></textarea>
            <span asp-validation-for="Content"></span>
        </div>
        <button type="submit" class="btn btn-primary">Edit</button>
        <input asp-for="PostId" type="hidden" />
        <input asp-for="ReplyId" type="hidden" />
    </form>
</div>
