<style>
    .error {
        text-align: center;
    }

    .back-to-themes-btn {
        margin-top: 25px;
    }
</style>

<div class="container text-light error">
    <h1>Confirm your email!</h1>
    <a class="btn btn-primary btn-lg back-to-themes-btn" asp-action="Index" asp-controller="Home">
        Back to themes
    </a>
</div>

