.content {
    min-height: 100%;
    max-width: 55%;
    padding-top: 5px;
    font-family: monospace;
    font-size: 17px;
}

.btn-create-theme {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-top: 15px;
    font-family: monospace;
}

.themes-container {
    border: 2px solid #E1DADA;
}

.theme {
    border: 2px solid #E1DADA;
    margin: 15px auto;
    padding: 0px;
    display: flex;
    background: #181616;
    border-radius: 10px;
    overflow: hidden;
    height: 45px;
}

.theme-image {
    max-height: 60px;
    max-width: 60px;
    border-right: 2px solid #E1DADA;
    min-width: 60px;
    min-height: 100%;
}

.theme-title {
    padding-left: 10px;
    padding-top: 15px;
}

.theme-block-content {
    display: flex;
    text-align: center;
}

.theme-replies-number {
    padding-top: 15px;
    margin-left: 15px;
}

.theme-image-block {
    padding-left: 0px;
}

.message-container {
    text-align: center;
}

.pager {
    margin-top: 20px;
    margin-left: 40%;
}