
.postsContainer {
    max-width: 55%;
    margin-bottom: 30px;
}

.post {
    background: rgba(194,210,233,0.3);
    border: 1px solid;
    border-radius: 10px;
    padding: 15px;
}

.postDate {
    text-align: right;
    font-size: 18px;
}

.postAuthor {
    text-align: right;
    padding-right: 20px;
    font-weight: bold;
    font-size: 18px;
}

.postContent {
    padding: 20px;
    font-size: 18px;
}

.postTitle {
    font-weight: bold;
    font-size: 20px;
}

.repliesContainer {
    max-width: 40%;
}

.reply {
    background: rgba(194,210,233,0.3);
    border: 1px solid;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 25px;
}

.replyAuthor {
    text-align: left;
    padding-left: 20px;
    font-weight: bold;
    font-size: 18px;
}

.replyContent {
    padding: 20px;
    font-size: 19px;
}

.replyDate {
    text-align: right;
    font-size: 18px;
}

.btnContainer {
    max-width: 55%;
    margin-bottom: 30px;
}

.messageContainer {
    max-width: 40%;
    text-align: center;
}

.pager {
    margin-top: 20px;
    margin-left: 40%;
}